
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: 'Work Sans', sans-serif;
  color: #444444;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
/* .back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #FF0022;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #11190C;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
} */

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 5px 0;
  background: #000000;
}

#header.header-scrolled,
#header.header-inner-pages {
  padding: 12px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif;
}

#header .logo a {
  color: #5a5af3;
}

#header .logo img {
  max-height: 70px;
}

@media (max-width: 992px) {
  #header {
    padding: 12px 0;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  color: #ffffff;
  white-space: nowrap;
  transition: 0.3s;
  font-family: "Poppins", sans-serif;
  font-weight: 500; /* Medium */
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #65bc95;
}

/* .navbar .getstarted,
.navbar .getstarted:focus {
  padding: 6px 25px;
  margin-left: 30px;
  border-radius: 50px;
  color: #fff;
  border: 2px solid #FF0022;
  background-color: #FF0022;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  color: #fff;
  background: #11190C;
} */

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #396eb5;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #434175;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(48, 47, 84, 0.9);
  transition: 0.3s;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #434175;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #5a5af3;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #5a5af3;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
/* Estilos para el Texto de Bienvenida */
.hero-intro-section {
  background-color: #000;
  padding: 100px 20px 20px; /* Agrega un padding superior para evitar que el texto quede cubierto por el navbar */
  text-align: left;
}

.hero-intro h2 {
  font-size: 90px;
  font-family: 'Work Sans', sans-serif;
  color: #ffffff; /* Color blanco para el "BIENVENIDO" */
  margin: 0;
}

.hero-intro h3 {
  font-size: 90px;
  font-family: 'Work Sans', sans-serif;
  line-height: 1.1;
}

.hero-intro .white-text {
  color: #ffffff; /* Color blanco para A LA */
}

.hero-intro .highlight {
  color: #fdde59; /* Color amarillo para NUEVA y COMUNICACIÓN */
}

.hero-intro p {
  font-size: 20px;
  color: #ffffff;
  font-family: 'Sarala', sans-serif;
  margin-top: 10px;
}

.hero-intro h3 span:first-child {
  margin-top: 0; /* Elimina el margen superior para acercar las palabras */
}
.hero-intro h3 span {
  line-height: 0; /* Ajusta este valor si necesitas que las líneas estén más cerca */
}

/* Estilos para la Sección del Video */
.hero-video-section {
  width: 100%;
  background-color: #000;
  padding: 0;
}

.hero-video-container {
  position: relative;
  width: 100%;
  height: auto;
}

#hero-video {
  width: 100%;
  height: auto;
}




#hero ul {
  margin-top: 15px;
  list-style: none;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 500; /* Medium */
}

#hero ul li {
  padding: 10px 0 0 28px;
  position: relative;

}

#hero ul i {
  left: 0;
  top: 7px;
  position: absolute;
  font-size: 20px;
  color: #5a5af3;
}

#hero .btn-get-started,
#hero .btn-get-quote {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.5px;
  display: inline-block;
  padding: 8px 30px 9px 30px;
  margin-bottom: 15px;
  border-radius: 3px;
  transition: 0.5s;
  border-radius: 50px;
}

/* #hero .btn-get-started {
  background: #ff0022;
  color: #fff;
  border: 2px solid #ff0022;
  margin-right: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 500; /* Medium */

#hero .btn-get-started:hover {
  background: #11190C;
  border-color: #7272f5;
}

#hero .btn-get-quote {
  background: #ff0022;
  color: #fff;
  border: 2px solid #ff0022;
  font-family: 'Inter', sans-serif;
  font-weight: 500; /* Medium */
}

#hero .btn-get-quote:hover {
  background: #11190C;
  color: #fff;
  border-color: #7272f5;
}

/* Estilo para pantallas grandes */
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed; /* Fija el fondo para pantallas grandes */
  }
}

/* Estilos para pantallas medianas (tablet y pantallas más pequeñas) */
@media (max-width: 991px) {
  #hero .hero-img {
    text-align: center; /* Centra la imagen */
  }

  #hero .hero-img img {
    width: 70%; /* Ajusta el tamaño de la imagen */
  }

  /* Ajuste de texto para pantallas más pequeñas */
  .hero-intro h3 {
    font-size: 60px;
    line-height: 1.2;
    text-align: left
  }

  .hero-intro h2 {
    font-size: 50px;
    line-height: 1.2;
    text-align: left
  }

  .hero-intro p {
    font-size: 20px;
    text-align: left
  }
}

/* Estilos para pantallas pequeñas (móviles en apaisado o menores) */
@media (max-width: 768px) {
  #hero .hero-img img {
    width: 80%; /* Ajuste del tamaño de la imagen en dispositivos más pequeños */
  }

  /* Ajuste de texto en dispositivos más pequeños */
  .hero-intro h3 {
    font-size: 48px; /* Reducir tamaño de fuente */
    line-height: 1.2;
    text-align: left
  }

  .hero-intro h2 {
    font-size: 40px; /* Ajustar tamaño de h2 */
    line-height: 1.3;
    margin-bottom: 20px; /* Menos espacio debajo */
    text-align: left
  }

  .hero-intro p {
    font-size: 18px; /* Ajustar tamaño de párrafo */
    line-height: 1.6; /* Espaciado adecuado */
    text-align: left
  }
}

/* Estilos para pantallas muy pequeñas (móviles) */
@media (max-width: 575px) {
  #hero {
    text-align: left; /* Centrar el texto */
  }

  .hero-intro h3 {
    font-size: 36px; /* Tamaño aún más pequeño en pantallas muy pequeñas */
    line-height: 1.3;
    text-align: left
  }

  .hero-intro h2 {
    font-size: 36px; /* Reducir aún más el tamaño del texto */
    line-height: 1.3;
    text-align: left
  }

  .hero-intro p {
    font-size: 16px; /* Tamaño de texto para dispositivos móviles pequeños */
    line-height: 1.6;
    padding: 0 15px; /* Añadir padding para evitar que el texto toque los bordes */
    text-align: left
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #eeeef5;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
}



.section-title p {
  margin-bottom: 0;
  font-family: 'Sarala', sans-serif;
  font-weight: 500; /* Medium */
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about{
  background-color: #000000;
}

.about .content h2 {
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
  margin-bottom: 20px;
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
}

.about .content h3 {
  font-weight: 400;
  line-height: 32px;
  font-size: 24px;
  font-family: 'Sarala', sans-serif;
  font-weight: 500; /* Medium */
  color: #ffffff;
}

.about .content ul {
  list-style: none;
  padding: 0;
  font-family: 'Sarala', sans-serif;
  font-weight: 500; /* Medium */
  color: #ffffff;
}

.about .content ul li {
  padding: 10px 0 0 28px;
  position: relative;
}

.about .content ul i {
  left: 0;
  top: 7px;
  position: absolute;
  font-size: 20px;
  color: #f69773;
}

.about .content p:last-child {
  margin-bottom: 0;
  
}
.about .container P {
  font-family: 'Sarala', sans-serif;
  font-weight: 500; /* Medium */
  color: #ffffff;
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us {
  padding-top: 0;
}

.why-us .box {
  padding: 50px 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  transition: all ease-in-out 0.3s;
}

.why-us .box span {
  display: block;
  font-size: 28px;
  font-weight: 700;
  color: #11190C ;
}

.why-us .box h4 {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: 800; /* ExtraBold */ 
  font-size: 24px;
  padding: 0;
  margin: 20px 0;
  color: #f69773;
}

.why-us .box p {
  font-family: 'Inter', sans-serif;
  font-weight: 500; /* Medium */
  color: #CAC4B7;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

.why-us .box:hover {
  background: #11190C ;
  padding: 30px 30px 70px 30px;
  box-shadow: 10px 15px 30px rgba(0, 0, 0, 0.18);
}

.why-us .box:hover span,
.why-us .box:hover h4,
.why-us .box:hover p {
  color: #fff;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding: 70px 0 60px;
}

.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #fff;
}

.counts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: #5a5af3;
  color: #fff;
  border-radius: 50px;
  width: 48px;
  height: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #0c0ca8;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

/* Sección general */
#services {
  background-color: #000000;
}
.services h2{
  font-family: 'Work Sans', sans-serif;
  font-weight: 800;
}

.services .icon-box {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  width: 100%;
  max-width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
  color: #ffffff;
}

/* Fondo de la caja */
.services .icon-box .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  transition: opacity 0.3s ease;
}

/* Aplica opacidad solo al fondo en hover */
.services .icon-box:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.services .icon-box:hover .background {
  opacity: 0.4;
}

/* Texto dentro de icon-box */
.services .icon-box h4,
.services .icon-box p {
  position: relative;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.services .icon-box:hover h4,
.services .icon-box:hover p {
  opacity: 1;
  visibility: visible;
}

/* Estilos para cada icon-box individual */
.services .iconbox-blue .background { background-image: url('/assets/img/imgContent.jpg'); }
.services .iconbox-orange .background { background-image: url('/assets/img/fotoGifGato.png'); }
.services .iconbox-pink .background { background-image: url('/assets/img/imgMotion.jpg'); }
.services .iconbox-teal .background { background-image: url('/assets/img/imgCopy.jpg'); }
.services .iconbox-black .background { background-image: url('/assets/img/imgSocial.webp'); }
.services .iconbox-red .background { background-image: url('/assets/img/fotoGifInfluencer.png'); }

.services .iconbox-orange .background:hover {
  background-image: url('/assets/img/gifGato.webp');
  transition: background 0.5s ease-in-out;
}

.services .iconbox-red .background:hover {
  background-image: url('/assets/img/gifInfluencer.webp');
  transition: background 0.5s ease-in-out;
}

@media (max-width: 768px) {
  .services .icon-box {
    width: 100%;
    height: auto;
    padding: 10px;
  }

  .services .icon-box h4 {
    font-size: 1.2rem;
  }
}

/* Estilos de encabezado y párrafo */
.icon-box h4 {
  margin-bottom: 10px;
  font-size: 24px;
}

.icon-box p {
  font-size: 16px;
}


.no-videitos {
  font-size: 70px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}

.no-videitos .line {
  margin: 3px 0; /* Espaciado reducido entre líneas */
  padding: 2px 0; /* Añade un poco de padding para ajuste fino */
}

.no-videitos .highlight {
  color: #f69773; /* Color específico para "videitos" */
  font-size: 70px; /* Tamaño específico solo para "videitos" */
  padding: 5px 0; /* Ajusta el padding si necesitas más espacio */
  font-family: 'Work Sans', sans-serif;
}

.line .no {
  margin-right: 25px; /* Ajusta este valor para aumentar la separación */
}





#customers {
  padding: 20px 0;
  background-color: #000;
  overflow: hidden;
}
.customers h2{
  color: #ffffff;
  text-align: center;
}

.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  animation: scrollLogos 20s linear infinite;
}

.logo-box {
  padding: 20px;
  flex: 0 0 auto;
  transition: transform 0.3s ease;
}

.logo-box img {
  max-width: 100%;
  height: auto;
}

@keyframes scrollLogos {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


/* Animación de desplazamiento continuo de los logos */
@keyframes scrollLogos {
  from {
    transform: translateX(100%); /* Comienza fuera de la pantalla a la derecha */
  }
  to {
    transform: translateX(-100%); /* Desplazamiento continuo hacia la izquierda */
  }
}

/* Efecto de zoom cuando el usuario pasa el mouse sobre el logo */
.logo-box:hover {
  transform: scale(1.1);
}

/* Estilos responsivos para pantallas más pequeñas */

/* Dispositivos de hasta 1024px */
@media (max-width: 1024px) {
  .logos {
    animation: scrollLogos 20s linear infinite; /* Desplazamiento más lento en pantallas medianas */
  }

  .logo-box {
    padding: 15px;
  }
}

/* Dispositivos de hasta 768px (tablets y smartphones grandes) */
@media (max-width: 768px) {
  .logos {
    animation: scrollLogos 25s linear infinite; /* Desplazamiento más lento en pantallas más pequeñas */
  }

  .logo-box {
    padding: 10px;
  }

  .logo-box img {
    max-width: 80%; /* Reduce el tamaño de los logos */
  }
}

/* Dispositivos de hasta 480px (smartphones pequeños) */
@media (max-width: 480px) {
  .logos {
    animation: scrollLogos 30s linear infinite; /* Desplazamiento más lento en pantallas muy pequeñas */
  }

  .logo-box {
    padding: 5px;
  }

  .logo-box img {
    max-width: 70%; /* Aún más pequeño en pantallas de smartphones */
  }
}




/*--------------------------------------------------------
#whatsapp
--------------------------------------------------------*/
.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 1000;
  transition: background-color 0.3s;
}

.whatsapp-float i {
  margin-top: 15px;
}

.whatsapp-float:hover {
  background-color: #128c7e;
  color: #FFF;
  text-decoration: none;
}

.whatsapp-float .tooltip-text {
  visibility: hidden;
  width: 140px;
  background-color: #128c7e; /* Matching hover color */
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the button */
  left: 50%;
  margin-left: -70px; /* Center the tooltip */
  opacity: 0;
  font-size: 12px; /* Smaller font size */
  transition: opacity 0.3s;
}

.whatsapp-float .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%; /* Below the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #128c7e transparent transparent transparent; /* Matching background color */
}

.whatsapp-float:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}




/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 15px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 10px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #5a5af3;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.portfolio .portfolio-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.7);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.portfolio .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio .portfolio-wrap .portfolio-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  transition: all 0.5s ease 0s;
  z-index: 9994;
}

.portfolio .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #434175;
  font-weight: 600;
}

.portfolio .portfolio-wrap .portfolio-info p {
  color: #434175;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.portfolio .portfolio-wrap .portfolio-links {
  text-align: center;
  z-index: 4;
}

.portfolio .portfolio-wrap .portfolio-links a {
  color: #5a5af3;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-wrap .portfolio-links a:hover {
  color: #1313ee;
}

.portfolio .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

.portfolio .portfolio-wrap:hover .portfolio-info::before {
  top: 15px;
  left: 15px;
}

.portfolio .portfolio-wrap:hover .portfolio-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #5a5af3;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #5a5af3;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(67, 65, 117, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 40px;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
  background: rgba(255, 255, 255, 0.85);
}

.team .member .social a {
  transition: color 0.3s;
  color: #434175;
  margin: 0 10px;
  padding-top: 8px;
  display: inline-block;
}

.team .member .social a:hover {
  color: #5a5af3;
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #434175;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .row {
  padding-top: 40px;
}

.pricing .box {
  padding: 40px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 30px rgba(73, 78, 92, 0.15);
  background: #fff;
  text-align: center;
}

.pricing h3 {
  font-weight: 300;
  margin-bottom: 15px;
  font-size: 28px;
}

.pricing h4 {
  font-size: 46px;
  color: #5a5af3;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 25px;
}

.pricing h4 span {
  color: #bababa;
  font-size: 18px;
  display: block;
}

.pricing ul {
  padding: 0;
  list-style: none;
  color: #999;
  text-align: left;
  line-height: 20px;
}

.pricing ul li {
  padding-bottom: 12px;
}

.pricing ul i {
  color: #5a5af3;
  font-size: 18px;
  padding-right: 4px;
}

.pricing ul .na {
  color: #ccc;
}

.pricing ul .na i {
  color: #ccc;
}

.pricing ul .na span {
  text-decoration: line-through;
}

.pricing .btn-buy {
  background: #434175;
  display: inline-block;
  padding: 10px 35px;
  border-radius: 50px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  transition: 0.3s;
  border: none;
}

.pricing .btn-buy:hover {
  background: #5a5af3;
}

.pricing .featured {
  z-index: 10;
  margin: -30px -5px 0 -5px;
}

.pricing .featured .btn-buy {
  background: #5a5af3;
}

.pricing .featured .btn-buy:hover {
  background: #7272f5;
}

@media (max-width: 992px) {
  .pricing .box {
    max-width: 60%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 767px) {
  .pricing .box {
    max-width: 80%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 420px) {
  .pricing .box {
    max-width: 100%;
    margin: 0 auto 30px auto;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact {
  background-color: #000000;
  padding: 40px 0;
}
.contact .section-title h2 {
  color: #ffffff;
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
}

.contact .info-box {
  background: #121212;
  color: #ffffff;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(101, 188, 149, 0.5);
  padding: 20px;
  margin: 0 auto; /* Centers the boxes in their columns */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact .info-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(101, 188, 149, 0.8);
}


#contact {
  background-color: #000000;
  padding: 40px 0;
}

.contact .section-title h2 {
  color: #ffffff;
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
}

.contact .info-box {
  background: #000000;
  color: #ffffff;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 0 15px #fdde59;
  padding: 20px;
  margin: 0 auto; /* Centers the boxes in their columns */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact .info-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px #fdde59;
}

.contact .info-box i {
  font-size: 40px;
  color: #396eb5;
  margin-bottom: 15px;
}


.contact .info-box h3 {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 10px;
}

.contact .info-box p {
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}
/* .contact .php-email-form {
  background: #fff;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 5px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #5a5af3;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #FF0022;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #11190C;
} */

@media (max-width: 768px) {
  .contact .info-box {
    margin-bottom: 20px;
  }

  .contact .info-box p {
    font-size: 12px;
  }

  .contact .info-box i {
    font-size: 36px;
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f1f1f7;
  min-height: 40px;
  margin-top: 68px;
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 400;
  color: #434175;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #565396;
  content: "/";
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 60px;
  }

  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #444444;
  font-size: 14px;
  background: #000000;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #000000;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  color: #ffffff;
  font-family: 'Work Sans', sans-serif;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: 'Work Sans', sans-serif;
  color: #ffffff;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
  font-family: 'Work Sans', sans-serif;
  color: #ffffff;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  color: #ffffff;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #f69773;
  font-size: 18px;
  line-height: 1;
  
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
  font-family: 'Work Sans', sans-serif;
  color: #ffffff;
}

#footer .colorPunto{
  color: #65bc95;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #65bc95;
}

#footer .footer-newsletter {
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 50px;
  text-align: left;
  border: 1px solid #b9b9fa;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #5a5af3;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #7272f5;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #444444;
}

#footer .credits a {
  transition: 0.3s;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #deddec;
  color: #11190C;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #f69773;
  color: #ffffff;
  text-decoration: none;
}

.carousel-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.swiper-container {
  width: 80%;
  height: 80%;
}


.copyright {
  font-family: 'Work Sans', sans-serif;
  color: #ffffff;
}
